<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idol.dao.PayDao">

    <resultMap id="BaseResultMap" type="com.idol.beans.Pay">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <id column="serial" property="serial" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insert" parameterType="Pay" useGeneratedKeys="true" keyProperty="id">
        insert into pay(serial) values(#{serial});
    </insert>

    <select id="findById" parameterType="Long" resultMap="BaseResultMap">
        select * from pay where id = #{id};
    </select>
</mapper>